#map
    height: 800px
    width: 1000px

    .neighborhood
        fill: #448AFF
        opacity: 0.2
        stroke: #003399
        stroke-width: 1.5px

        &:hover
            fill: #4CAF50
            fill-opacity: 0.7
